#root {
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.tracks-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
